<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path 'old-fashioned.jpg', alt: 'Cocktails' %>');">
      <div class="container">
        
          <h1>Welcome to<h1 id="hangover"><strong><em>The Hangover</em></strong></h1></h1>
        
        <p>Change your life one amazing cocktail at a time!</p>
      </div>
    </div>

<h1>Cocktails (<%= @cocktails.count %>)</h1>


  
    <% @cocktails.each do |cocktail| %>

    <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
        <%= link_to cocktail.name, cocktail_path(cocktail), class: 'cocktail-name' %>
    </div>

      
    <% end %>
  


<%= link_to 'Create a cocktail', new_cocktail_path, class: 'btn btn-outline-danger my-2 my-sm-0' %>

