<div class="main-show-container">
  <h1><%= @cocktail.name %></h1>

  <% @cocktail.doses.each do |dose| %>
  
    <%= dose.description %>
    <%= dose.ingredient.name %>
  
  <% end %>
  
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src='https://source.unsplash.com/300x400/?<%= @cocktail.name %>' alt="Cocktail name">
    <% end %>
  
  <div class="show-links-container">
    <%= link_to 'All Cocktails', cocktails_path, class: 'btn btn-outline-danger' %>
    <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-outline-danger' %>
    <%= link_to cocktail_path(@cocktail), class: 'btn btn-outline-danger', method: :delete, data: { confirm: "Are you sure?"} do %>
      <i class="fas fa-trash"></i>
    <% end %>
    
  </div>
</div>

